pval_tbl
DAGGER_tbl
HMEC_5kb_hub_ancestry.Rda
HMEC_parent_hub_content.Rda
HMEC_5kb_stubs.Rda
HMEC_trans_res_hubs.Rda
HMEC_5kb_stubs_foot.Rda
HMEC_trans_res_hubs_foot.Rda
HMEC_5kb_hub_ancestry_CAGE_peak_content.Rda
HMEC_5kb_hub_ancestry_compound_hub.Rda
HMEC_5kb_hub_ancestry_peak_compound_hub.Rda
HMEC_5kb_hub_ancestry_5kb_peak_compound_hub.Rda
H1_5kb_hub_ancestry.Rda
GM12878_5kb_hub_ancestry.Rda
candidate_compound_hub
H1_5kb_hub_parent_descendance.Rda
H1_5kb_hub_ancestry_CAGE_peak_content.Rda
GM12878_5kb_hub_parent_descendance.Rda
GM12878_5kb_hub_ancestry_CAGE_peak_content.Rda
